{% extends "plantilla.html" %}

{% block titulo %}Automoviles{% endblock titulo %}

{% block contenido %}
<div class="col p-5 pt-2 mt-3 container-fluid">
    <h3><i class="fa-solid fa-car mr-2" aria-hidden="true"></i>Automoviles</h3>
<hr>
<a class="btn btn-success success_especial" href="#" title="Vehiculo" data-toggle="modal" data-target="#modalRegistrarVehiculo">Registrar vehiculo</a>
<div class="modal fade" id="modalRegistrarVehiculo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vehiculo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="{% url 'registrar_auto'%}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="modelo" class="col-sm-6 col-form-label">Modelo</label>
                        <div class="col-sm-12">
                            <input type="number" name="modelo" id="modelo" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="marca" class="col-sm-6 col-form-label">Marca</label>
                        <div class="col-sm-12">
                            <input type="text" name="marca" id="marca" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="color" class="col-sm-6 col-form-label">Color</label>
                        <div class="col-sm-12">
                            <input type="text" name="color" id="color" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="placa" class="col-sm-6 col-form-label">Placa</label>
                        <div class="col-sm-12">
                            <input type="text" name="placa" id="placa" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_categoria" class="col-sm-2 col-form-label">Categoria</label>
                        <div class="col-sm-12">
                            <select name="id_categoria" class="form-control" required>
                                <option value="" selected>Seleccione</option>
                                {% for categoria in categorias %}
                                <option value="{{ categoria.id_categoria }}">{{ categoria.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="imagen" class="col-sm-6 col-form-label">Imagen</label>
                        <div class="col-sm-12">
                            <input type="file" name="imagen" accept="imagen/png, imagen/jpeg, imagen/jpg" class="form-control-file" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_estado" class="col-sm-2 col-form-label">Estado</label>
                        <div class="col-sm-12">
                            <select name="id_estado" class="form-control" required>
                                <option value="" selected>Seleccione</option>
                                {% for estado in estados %}
                                <option value="{{ estado.id_estado }}">{{ estado.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="precio" class="col-sm-6 col-form-label">Precio</label>
                        <div class="col-sm-12">
                            <input type="number" name="precio" id="precio" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="identificacion" class="col-sm-2 col-form-label">Vendedor</label>
                        <div class="col-sm-12">
                            <select name="identificacion" class="form-control" required>
                                <option value="" selected>Seleccione</option>
                                {% for vendedor in vendedores %}
                                <option value="{{ vendedor.identificacion }}">{{ vendedor.nombre }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <input type="submit" value="Registrar" class="btn btn-success "> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if autos %}
<div class="table-responsive mt-2">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Color</th>
                <th>Placa</th>
                <th>Categoria</th>
                <th>Imagen</th>
                <th>Estado</th>
                <th>Precio</th>
                <th>Vendedor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {%for auto in autos%}
            <tr id="auto {{auto.id_auto}}">
                <td>{{auto.modelo}}</td>
                <td>{{auto.marca}}</td>
                <td>{{auto.color}}</td>
                <td>{{auto.placa}}</td>
                <td>{{auto.id_categoria.nombre}}</td>
                <td><img src="../media/{{auto.imagen}}" accept="image/jpg, image/png, imagen/jpg"alt="Imagen de producto" style="max-width: 100px;"></td>
                <td>{{auto.id_estado.nombre}}</td>
                <td>{{auto.precio}}</td>
                <td>{{auto.identificacion.nombre}} {{auto.identificacion.apellido}}</td>
                <td>
                    <a class="btn btn-warning warning_especial" href="#" title="Editar vehiculo" data-toggle="modal" data-target="#modalEditarVehiculo{{auto.id_auto}}">Editar</a>
                    <div class="modal fade" id="modalEditarVehiculo{{auto.id_auto}}">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Vehiculo {{auto.marca}} {{auto.modelo}}</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">        
                                    <form action="{% url 'actualizar_auto' auto.id_auto%}" method="post" enctype="multipart/form-data" id="form-registro">
                                        {% csrf_token %}
                                        <div class="row mb-3">
                                            <label for="modelo" class="col-sm-6 col-form-label">Modelo</label>
                                            <div class="col-sm-12">
                                                <input type="number" name="modelo" value="{{auto.modelo}}" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="marca" class="col-sm-6 col-form-label">Marca</label>
                                            <div class="col-sm-12">
                                                <input type="text" name="marca" value="{{auto.marca}}" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="color" class="col-sm-6 col-form-label">Color</label>
                                            <div class="col-sm-12">
                                                <input type="text" name="color" value="{{auto.color}}" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="placa" class="col-sm-6 col-form-label">Placa</label>
                                            <div class="col-sm-12">
                                                <input type="text" name="placa" value="{{auto.placa}}" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="id_categoria" class="col-sm-2 col-form-label">Categoria</label>
                                            <div class="col-sm-12">
                                                <select name="id_categoria" class="form-control">
                                                    {% for categoria in categorias %}
                                                    {%if categoria.id_categoria == categoria.id_categoria.nombre%}
                                                    <option value="{{categoria.id_categoria}}" selected>{{categoria.nombre}}</option>
                                                    {%else%}
                                                    <option value="{{ categoria.id_categoria }}">{{ categoria.nombre }}</option>
                                                    {%endif%}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                            <div class="row mb-3">
                                                {% if auto.imagen %}
                                                <label for="imagen" class="col-sm-6 col-form-label">Imagen</label>
                                                {% if is_edit_mode %}
                                                    <img src="{{auto.imagen.url}}" accept="image/jpg, image/png, imagen/jpg" alt="Imagen de producto" style="max-width: 100px;" disabled>
                                                {% else %}
                                                    <input type="file" id="imagen" name="imagen" accept="image/jpg, image/png, imagen/jpg">
                                                    <img src="{{auto.imagen.url}}" accept="image/jpg, image/png, imagen/jpg" alt="Imagen de producto" style="max-width: 100px;">
                                                {% endif %}
                                                {% else %}
                                                <p>No hay imagen</p>
                                                {% endif %}
                                            </div>
                                        <div class="row mb-3">
                                            <label for="id_estado" class="col-sm-2 col-form-label">Estado</label>
                                            <div class="col-sm-12">
                                                <select name="id_estado" class="form-control">
                                                    {% for estado in estados %}
                                                    {%if estado.id_estado == estado.id_estado.nombre%}
                                                    <option value="{{estado.id_estado}}" selected>{{estado.nombre}}</option>
                                                    {%else%}
                                                    <option value="{{ estado.id_estado }}">{{ estado.nombre }}</option>
                                                    {%endif%}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="precio" class="col-sm-6 col-form-label">Precio</label>
                                            <div class="col-sm-12">
                                                <input type="number" name="precio" value="{{auto.precio}}" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="identificacion" class="col-sm-2 col-form-label">Vendedor</label>
                                            <div class="col-sm-12">
                                                <select name="identificacion" class="form-control">
                                                    {% for vendedor in vendedores %}
                                                    {%if vendedor.identificacion == vendedor.identificacion.nombre%}
                                                    <option value="{{vendedor.identificacion}}" selected>{{vendedor.nombre}}</option>
                                                    {%else%}
                                                    <option value="{{ vendedor.identificacion }}">{{ vendedor.nombre }}</option>
                                                    {%endif%}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer justify-content-center">
                                            <input type="submit" value="Actualizar" class="btn btn-success"> 
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <a class="btn btn-danger btneliminar" href="{%url 'eliminar_auto' auto.id_auto %}" title="Eliminar">ELIMINAR</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    {% else %}
    <h2 class="text-center">No Hay Registros Para Mostrar</h2>
    {% endif %}
</div>
{% endblock contenido %}

